body{
    text-align: center;
     background-color:  #b8e994; 
   
}
#headersection{
    padding:5px;
}
#headersection h1{
    font-family: cursive;
}
input{
    padding:10px;
    border-radius: 5px;
}
#dropbox{
    padding:10px;
    border-radius: 5px;
    width: 15%;  
}
#loginbutton{
    padding:10px;
    border-radius: 5px;
    background-color: #3408db;
    color: white;
    border-radius: 5px;  
}
#registerbutton{
    padding:10px;
    border-radius: 5px;
    background-color: #3408db;
    color: white;
    border-radius: 5px;  
}